.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  /* padding-top: 40px; */
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.postList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: white;
}

.post .content {
  flex: 60%;
  display: grid;
  place-content: center;
}

.post .author {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.formContainer #inputForm {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}


/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  opacity: 70%;
}

.navbar img{

}

.navbar .navLeft{
  margin: 20px;
}

.navbar .navRight{
  margin: 20px;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Tahoma';
  
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .author {
  font-size: 30px;
}

#individual .content {
  font-size: 25px;
}

/* COMMENT SECTION */
.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  margin-top: 10px;
  background-color: dodgerblue;
  color: white;
}

.addCommentContainer input {
  border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 70%;
  flex: 50%;
  height: auto;
  padding: 30px;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.comment button{
  width: 20%;
  cursor: pointer;
}

/* Login Message */
.loginMsg {
 height: 50px;
  margin-top: 100px;
  margin-bottom: 10px;
padding: 20px;
  border-bottom: 1px solid lightgray;
  color: dodgerblue;
  size: 30px;
  place-content: center;
  
}